
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&family=Poltawski+Nowy:wght@400;700;800&display=swap");


@import "tailwindcss";

@theme {

  --color-background: #ffffff;
  --color-foreground: #171717;

  --font-montserrat: "Montserrat", sans-serif;
  --font-poltawski: "Poltawski Nowy", serif;
}

:root {


  --background: #ffffff;
  --foreground: #171717;
  --font-Mont: "Montserrat", sans-serif;
  --font-Polt: "Poltawski Nowy", serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-mont {
  font-family: var(--font-Mont);
}
.font-poltawski {
  font-family: var(--font-Polt);

}
